* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #f0f2f5;
}

/* LOGIN / CADASTRO */
.container-login {
    width: 300px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

input, select {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

button {
    padding: 10px;
    width: 100%;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

.erro {
    color: red;
    margin-bottom: 10px;
}

/* FEED */
.container {
    display: flex;
}

.sidebar {
    width: 200px;
    background: white;
    padding: 20px;
}

.conteudo {
    flex: 1;
    padding: 20px;
}

.perfil {
    display: flex;
    gap: 10px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.perfil img {
    width: 50px;
    border-radius: 50%;
}

.postagem-form {
    background: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.post {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
